# entorno de desarrollo y servidor nginx
environment/

# directorios y archivos a descartar del curso de desarrollo web
cf_web/.idea/

# directorios y archivos a descartar del curso de css
cf_css/.idea/

# directorios y archivos a descartar del curso javascript dom
cf_dom/.idea/

# directorios y archivos a descartar del curso de desarrollo web frontend
cf_frontend/node_modules/ 