// colors
$red: #FC4349;
$grey: #D7DADB;
$blue: #2C3E50;
$light-blue: #6DBCDB;
$rose: #B76E79;
$white: #FFF;
$black: #000;

// fonts
$small: 17px;
$medium: 20px;
$big: 48px;

// padding
$large-padding: 10px 15px;
$big-padding: 20px 30px;

// margin
$default-margin-top: 30px;
$big-margin-top: 90px;

// border radius
$border-radius: 4px;