body  {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: calc(50% - 5px);
  background: yellow;
  margin-bottom: 10px;
}

.grid-item:nth-child(even) {
  background: pink;
}

@media screen and (min-width: 480px) {
  .grid-item {
    width: calc(50% - 5px);
  }
}

@media screen and (min-width: 800px) {
  .grid-item {
    width: calc(33.3% - 6.6px);
  }
}