html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  height: 100px;
  width: 200px;
  position: relative;
}

.card::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: ' ';
  background-image: linear-gradient(to right top, #1f1658, #4f2a7a, #81409b, #b556bb);
  width: 100%;
  height: 10%;
  filter: blur(10px);
  z-index: -1;
}